Package: chiavdf
Version: {{ INSTALLER_VERSION }}
Architecture: {{ PLATFORM }}
Maintainer: Chia Network Inc <hello@chia.net>
Description: VDF Client for Hardware and Software
Depends: libgmp-dev, libboost-system-dev
