name: Build Wheels

on:
  push:
    branches:
      - main
    tags:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  build_wheels:
    name: Build wheel on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]

    steps:
    - name: Cancel previous runs on the same branch
      if: ${{ github.ref != 'refs/heads/master' }}
      uses: styfle/cancel-workflow-action@0.9.1
      with:
        access_token: ${{ github.token }}

    - name: Checkout code
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - uses: actions/setup-python@v2
      name: Install Python
      with:
        python-version: '3.8'

    - name: Lint source with flake8
      run: |
        python -m pip install --upgrade pip
        pip install flake8
        flake8 tests setup.py

    - name: Lint source with mypy
      run: |
        pip install mypy
        mypy --config-file mypi.ini setup.py tests

    - name: Build source distribution with MacOS
      if: startsWith(matrix.os, 'mac')
      run: |
        pip install build
        python -m build --sdist --outdir dist .

    - name: Build ${{ matrix.os }} wheels and test
      uses: joerick/cibuildwheel@v2.3.1
      with:
        output-dir: dist
      env:
        CIBW_BUILD_VERBOSITY_MACOS: 0
        CIBW_BUILD_VERBOSITY_LINUX: 0
        CIBW_BUILD_VERBOSITY_WINDOWS: 0
        # build python 3.7 and 3.8
        CIBW_BUILD: cp37-* cp38-* cp39-* cp310-*
        CIBW_SKIP: '*-manylinux_i686 *-win32 *-musllinux_*'
        # we need boost
        CIBW_MANYLINUX_X86_64_IMAGE: manylinux2010
        CIBW_ENVIRONMENT_LINUX: "PATH=/project/cmake-3.17.3-Linux-`uname -m`/bin:$PATH BUILD_VDF_CLIENT=N"
        CIBW_BEFORE_ALL_LINUX: >
          yum -y install epel-release
          && echo "epel-relesase installed"
          && yum -y install boost-devel lzip
          && echo "boost-devel and lzip installed"
          && curl -L https://github.com/Kitware/CMake/releases/download/v3.17.3/cmake-3.17.3-Linux-`uname -m`.sh > cmake.sh
          && yes | sh cmake.sh | cat
          && rm -f /usr/bin/cmake
          && curl -L https://gmplib.org/download/gmp/gmp-6.2.1.tar.lz | tar x --lzip
          && cp src/lib/gmp-patch-6.2.1/longlong.h gmp-6.2.1/
          && cp src/lib/gmp-patch-6.2.1/compat.c gmp-6.2.1/
          && cp src/lib/gmp-patch-6.2.1/mpz/inp_raw.c gmp-6.2.1/mpz
          && cd gmp-6.2.1 && ./configure --enable-fat --enable-cxx
          && make && make install && cd .. && rm -rf gmp-6.2.1
        CIBW_BEFORE_BUILD_LINUX: >
          python -m pip install --upgrade pip
        # CIBW_ARCHS_MACOS: x86_64 arm64 universal2
        CIBW_ARCHS_MACOS: x86_64
        CIBW_TEST_SKIP: '*_arm64 *_universal2:arm64'
        CIBW_BEFORE_ALL_MACOS: >
          brew install boost
        CIBW_BEFORE_BUILD_MACOS: >
          python -m pip install --upgrade pip
        CIBW_ENVIRONMENT_MACOS: "MACOSX_DEPLOYMENT_TARGET=10.14 BUILD_VDF_CLIENT=N"
        CIBW_REPAIR_WHEEL_COMMAND_MACOS: >
          pip uninstall -y delocate && pip install git+https://github.com/Chia-Network/delocate.git
          && delocate-listdeps {wheel} && delocate-wheel -v {wheel}
          && cp {wheel} {dest_dir}
        CIBW_BEFORE_ALL_WINDOWS: >
          git clone https://github.com/Chia-Network/mpir_gc_x64.git
        CIBW_ENVIRONMENT_WINDOWS: "BUILD_VDF_CLIENT=N SETUPTOOLS_USE_DISTUTILS=stdlib"
        CIBW_REPAIR_WHEEL_COMMAND_WINDOWS: >
          ls -l mpir_gc_x64 && pip uninstall -y delocate
          && pip install git+https://github.com/Chia-Network/delocate.git
          && delocate-wheel -v -i mpir_gc_x64/mpir.dll {wheel}
          && delocate-wheel -v -i mpir_gc_x64/mpir_gc.dll {wheel}
          && delocate-wheel -v -i mpir_gc_x64/mpir_broadwell.dll {wheel}
          && delocate-wheel -v -i mpir_gc_x64/mpir_broadwell_avx.dll {wheel}
          && delocate-wheel -v -i mpir_gc_x64/mpir_bulldozer.dll {wheel}
          && delocate-wheel -v -i mpir_gc_x64/mpir_haswell.dll {wheel}
          && delocate-wheel -v -i mpir_gc_x64/mpir_piledriver.dll {wheel}
          && delocate-wheel -v -i mpir_gc_x64/mpir_sandybridge.dll {wheel}
          && delocate-wheel -v -i mpir_gc_x64/mpir_skylake_avx.dll {wheel}
          && cp {wheel} {dest_dir}
        CIBW_TEST_REQUIRES: pytest
        CIBW_TEST_COMMAND: py.test -v {project}/tests

    - name: Upload artifacts
      uses: actions/upload-artifact@v2
      with:
        name: wheels
        path: ./dist

    - name: Test for secrets access
      id: check_secrets
      shell: bash
      run: |
        unset HAS_SECRET
        if [ -n "$SECRET" ]; then HAS_SECRET='true' ; fi
        echo ::set-output name=HAS_SECRET::${HAS_SECRET}
      env:
        SECRET: "${{ secrets.test_pypi_password }}"

    - name: Install twine
      run: pip install twine

    - name: Publish distribution to PyPI
      if: startsWith(github.event.ref, 'refs/tags') && steps.check_secrets.outputs.HAS_SECRET
      env:
        TWINE_USERNAME: __token__
        TWINE_NON_INTERACTIVE: 1
        TWINE_PASSWORD: ${{ secrets.pypi_password }}
      run: twine upload --non-interactive --skip-existing --verbose 'dist/*'

    - name: Publish distribution to Test PyPI
      if: steps.check_secrets.outputs.HAS_SECRET
      env:
        TWINE_REPOSITORY_URL: https://test.pypi.org/legacy/
        TWINE_USERNAME: __token__
        TWINE_NON_INTERACTIVE: 1
        TWINE_PASSWORD: ${{ secrets.test_pypi_password }}
      run: twine upload --non-interactive --skip-existing --verbose 'dist/*'
